@tailwind base;
@tailwind components;
@tailwind utilities;

.pic{
  background-image: url(../../public/img/pic.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.back{
   background-image: url(../../public/img/back.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}